<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_head_FR_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{119,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,143}}</string>
                <key>sourceSize</key>
                <string>{119,143}</string>
            </dict>
            <key>spr_head_FR_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,297},{119,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,143}}</string>
                <key>sourceSize</key>
                <string>{119,143}</string>
            </dict>
            <key>spr_head_LL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{119,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,147}}</string>
                <key>sourceSize</key>
                <string>{119,147}</string>
            </dict>
            <key>spr_head_LL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{119,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,147}}</string>
                <key>sourceSize</key>
                <string>{119,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newHead.png</string>
            <key>size</key>
            <string>{121,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9024a91efcccb758319f58df0a50008:1/1$</string>
            <key>textureFileName</key>
            <string>newHead.png</string>
        </dict>
    </dict>
</plist>
